/**
  Contains breakpoints and media query mixins.
**/
@use "sass:math";

$xl: 80rem;
$lg: 62rem;
$md: 44rem;
$sm: 29.5rem;

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}

@mixin rwd($media) {
  @media (max-width: math.div($media, 16) + "rem") {
    @content;
  }
}
