/**
  Contains breakpoints and media query mixins.
**/

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}

@mixin rwd($media) {
  @media (max-width: $media+"px") {
    @content;
  }
}
