body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-weight: 400;
  min-height: 100vh;
  text-size-adjust: 100%;

  // disable scrolling, e.g. for on-site popups
  &.has-no-scroll,
  &.has-no-scroll-nav {
    overflow: hidden;
  }
}

// fix footer sticking in the middle of the screen
// automatically expand content for smaller screens w/ flex
.s-content {
  flex: 1 0 auto;
}

.u-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
