# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/.gitkeep
mprocs.log

# Lock files
# ---------------

hot
.lock

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea

# Dependencies
# ---------------------

/vendor
/node_modules
/site/plugins/*
!/site/plugins/extended
/site/plugins/extended/index.dev.mjs

# Build files
# ---------------------

/types.php
/assets/sprite.svg
/public/dist
/site/plugins/extended/index.js
/site/plugins/extended/index.css

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Environmment
# ---------------

.env

# Accounts
# ---------------

/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Runtime Files
# ---------------

/data/runtime/*
!/data/runtime/README.md
!.gitkeep

# Content Files
# ---------------

/data/storage/content/*
!/data/storage/content/.gitkeep
/data/storage/retour/*

# License
# ---------------

/data/storage/.license
