# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/media/*
!/media/.gitkeep

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.idea
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

# Kirby Content
# ---------------
/content/*
!/content/.gitkeep

# Vendor files
# ---------------
/vendor
/kirby
/node_modules

# Cache Files
# ---------------
/site/cache/*
!/site/cache/.gitkeep

# Compiled files
# ---------------
/dist/*
!/dist/.gitkeep

# Accounts
# ---------------
/site/accounts/*
!/site/accounts/.gitkeep

# Sessions
# ---------------
/site/sessions/*
!/site/sessions/.gitkeep

# License
# ---------------
/site/config/.license
