@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply w-full h-full;
  }

  /* Fix Safari issue related to <summary> / <details> arrow */
  details > summary.list-none::-webkit-details-marker,
  details > summary.list-none::marker {
    display: none;
  }

  /* https://defensivecss.dev/tip/flexbox-min-content-size/ */
  * {
    min-height: 0;
    min-width: 0;
  }
}

@layer components {
}

@layer utilities {
  .balanced {
    text-wrap: balance;
  }
}
