@import './fonts.css';

:root {
  --theme-accent: #f3f3f3;
  --theme-bg: #000;
}

/** Hide empty admin tab **/
:not([data-role='admin']) .k-tab-button[title='Admin'] {
  display: none;
}

/* Panel Max Width */
@media (min-width: 60rem) {
  .k-panel-main {
    max-width: 112rem;
    margin-inline: auto;
    padding-inline-start: calc(var(--main-start, 0) + var(--main-padding-inline));
  }
}

/* Custom login form styling */
.k-login-view {
  position: relative;

  .k-login-dialog {
    overflow: visible;

    &::before {
      bottom: calc(100% + 4rem);
      display: block;
      height: 7.705rem;
      margin: 0 auto;
      left: calc(50% - 4.375rem);
      content: url('');
      position: absolute;
      width: 8.75rem;
    }
  }

  &::before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 157 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.478 24c-3.494 0-6.618-1.931-6.618-5.595 0-3.164 2.444-4.614 5.013-6.138l.043-.026c.397-.227.54-.681.369-1.107-.824-1.988-1.307-3.778-1.307-5.397 0-3.806 2.755-5.737 5.71-5.737 3.01 0 5.197 1.931 5.197 3.522 0 1.08-.71 1.477-1.477 1.477-.71 0-1.392-.455-1.392-1.392 0-1.903-.625-3.01-2.47-3.01-1.733 0-3.04 1.704-3.04 4.061 0 3.042 2.523 7.537 3.85 9.902l.07.124a38.022 38.022 0 0 0 2.641 4.062c.284.369.653.34.909-.029 1.08-1.76 1.903-3.436 1.903-4.999 0-1.013-.373-1.68-.697-2.259-.248-.443-.468-.835-.468-1.291 0-.824.654-1.136 1.136-1.136 1.364 0 1.903 1.193 1.903 2.641 0 2.443-1.903 5.283-3.408 7.413-.284.37-.255.853.085 1.165.824.767 1.705 1.278 2.585 1.278 1.148 0 2.811-1.517 3.075-6.484v-10.9h2.164v11.47l6.33-5.924h2.705l-5.383 5.112 5.95 8.683h-2.569l-4.896-7.412-2.137 1.975v5.437H63.09v-3.483c-.891 2.39-2.066 3.827-4.154 3.827-1.193 0-2.3-.512-3.437-1.534-.34-.341-.795-.341-1.108-.029C52.943 23.49 51.324 24 49.478 24ZM45.7 17.269c0 3.607 2.642 5.879 5.198 5.879 1.221 0 2.244-.454 3.124-1.25.34-.312.34-.767.028-1.107-1.164-1.335-2.243-2.983-3.408-5a48.561 48.561 0 0 1-1.534-2.896c-.198-.398-.596-.483-.937-.2-1.732 1.45-2.47 2.727-2.47 4.574ZM.434 4.145h2.164v19.34H.434V4.146Zm10.26 19.72c-4.22 0-6.763-2.976-6.763-7.277 0-4.3 2.543-7.276 6.762-7.276 4.193 0 6.736 2.975 6.736 7.276s-2.543 7.277-6.736 7.277Zm0-1.894c3.083 0 4.57-2.434 4.57-5.383 0-2.948-1.487-5.383-4.57-5.383-3.111 0-4.6 2.435-4.6 5.383 0 2.949 1.489 5.383 4.6 5.383Zm8.629-12.28h-2.354l4.95 13.795h2.462l4.95-13.796h-2.353l-3.814 11.632h-.027L19.323 9.691Zm15.942 12.28c2.759 0 3.787-2.137 4.03-3.084h2.164c-.703 2.57-2.678 4.978-6.113 4.978-4.193 0-6.735-2.949-6.735-7.277 0-4.598 2.596-7.276 6.627-7.276 4.328 0 6.438 2.948 6.438 7.844H30.775c0 2.489 1.487 4.815 4.49 4.815Zm-.027-10.766c-2.597 0-4.463 1.84-4.463 4.058h8.737c0-2.218-1.677-4.058-4.274-4.058Zm40.41-1.514h2.164v13.795h-2.164V9.691Zm15.039 4.165c0-3.165-2.11-4.544-4.626-4.544-2.353 0-3.814 1.055-4.544 2.029h-.054V9.69h-2.164v13.795h2.164v-8.602c0-2.137 1.623-3.679 4.057-3.679 2.164 0 3.003 1.407 3.003 3.192v9.089h2.164v-9.63Zm11.775-9.71h2.164v19.34h-2.164v-1.704h-.054c-.811 1.055-2.11 2.083-4.328 2.083-3.462 0-6.221-2.732-6.221-7.277 0-4.544 2.759-7.276 6.221-7.276 2.218 0 3.517.974 4.328 2.164h.054v-7.33ZM98.296 21.97c2.57 0 4.166-2.137 4.166-5.383s-1.596-5.383-4.166-5.383c-2.84 0-4.273 2.678-4.273 5.383s1.433 5.383 4.273 5.383Zm19.253-8.115c0-3.165-2.11-4.544-4.625-4.544-2.354 0-3.814 1.055-4.545 2.029h-.054V9.69h-2.164v13.795h2.164v-8.602c0-2.137 1.623-3.679 4.058-3.679 2.164 0 3.002 1.407 3.002 3.192v9.089h2.164v-9.63Zm7.826 8.115c2.76 0 3.787-2.137 4.031-3.084h2.164c-.703 2.57-2.678 4.978-6.113 4.978-4.193 0-6.736-2.949-6.736-7.277 0-4.598 2.597-7.276 6.627-7.276 4.328 0 6.438 2.948 6.438 7.844h-10.901c0 2.489 1.488 4.815 4.49 4.815Zm-.027-10.766c-2.596 0-4.463 1.84-4.463 4.058h8.737c0-2.218-1.677-4.058-4.274-4.058Zm14.395 4.204c-.169-.04-.337-.079-.504-.12-.272-.064-.544-.123-.809-.18-1.603-.347-2.977-.645-2.977-2.037 0-1.082 1.054-1.867 3.002-1.867 2.597 0 3.111 1.38 3.327 2.435h2.164c-.216-2.38-2.056-4.328-5.491-4.328-3.246 0-5.166 1.758-5.166 3.922 0 2.863 2.44 3.39 4.464 3.827.271.059.534.116.783.176.256.064.509.12.756.176 1.658.371 3.031.679 3.031 2.421 0 .92-.92 2.137-3.273 2.137-3.462 0-4.003-1.542-4.139-3.084h-2.163c.135 2.976 2.082 4.978 6.302 4.978 3.138 0 5.437-1.65 5.437-4.166 0-3.178-2.422-3.745-4.744-4.29Zm11.962-.12c.167.041.335.08.504.12 2.322.545 4.744 1.112 4.744 4.29 0 2.516-2.299 4.166-5.437 4.166-4.22 0-6.167-2.002-6.303-4.977h2.164c.136 1.541.677 3.083 4.139 3.083 2.353 0 3.273-1.217 3.273-2.137 0-1.742-1.373-2.05-3.031-2.421-.247-.056-.5-.113-.756-.176-.249-.06-.512-.117-.783-.176-2.024-.437-4.465-.964-4.465-3.827 0-2.164 1.921-3.922 5.167-3.922 3.435 0 5.275 1.947 5.491 4.328h-2.164c-.216-1.055-.73-2.435-3.327-2.435-1.948 0-3.003.785-3.003 1.867 0 1.392 1.375 1.69 2.978 2.037.265.057.537.116.809.18Zm-76.52-9.604c0 .92.611 1.54 1.53 1.54.895 0 1.484-.62 1.484-1.54 0-.944-.59-1.54-1.484-1.54-.919 0-1.53.596-1.53 1.54Z' fill='%23000'/%3E%3C/svg%3E");
    position: absolute;
    opacity: 0.5;
    bottom: 2.5rem;
    height: 1.25rem;
    width: 7.85rem;
  }
}

/** Custom Blocks Styling **/
.k-blocks {
  background: transparent;
  box-shadow: none;
  border-radius: none;

  & > .k-blocks-list > .k-block-container {
    border-radius: var(--rounded);

    &:not([data-selected='true']) {
      box-shadow: var(--shadow);
    }

    &:not(:last-of-type) {
      border-bottom: none;
      margin-bottom: 0.5rem;
    }
  }
}
