@import "./fonts.css";

:root {
	@apply antialiased;
}

/* Panel Max Width */
@media (min-width: 60rem) {
	.k-panel-main {
		max-width: 116rem;
		margin-inline: auto;
		padding-inline-start: calc(var(--main-start, 0) + var(--main-padding-inline));
	}
}

/* Custom login form styling */
.k-login-view {
	position: relative;

	.k-login-dialog {
		overflow: visible;

		&::before {
			--height: 0rem;
			--width: 0rem;

			mask-image: var(--logo);
			bottom: calc(100% + 2rem);
			display: block;
			height: var(--height);
			width: var(--width);
			margin: 0 auto;
			left: 0;
			right: 0;
			position: absolute;
			content: "";
			background: currentColor;
		}
	}

	&::before {
		content: "";
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 172 20'%3E%3Cpath fill='%23000' d='M3.48 3.14V18H1.3V3.14h2.18Zm2.265 9.74c0-3.16 2.16-5.34 5.26-5.34 3.12 0 5.28 2.18 5.28 5.34 0 3.16-2.16 5.32-5.28 5.32-3.1 0-5.26-2.16-5.26-5.32Zm2.24-.02c0 2.1 1.2 3.46 3.02 3.46 1.84 0 3.04-1.36 3.04-3.46 0-2.12-1.2-3.46-3.04-3.46-1.82 0-3.02 1.34-3.02 3.46ZM19.16 7.74l3.06 7.94 3.02-7.94h2.36L23.4 18h-2.44l-4.1-10.26h2.3Zm19.127 4.92v.82h-7.84c.04 1.92 1.3 2.92 2.9 2.92 1.2 0 2.2-.56 2.62-1.68h2.22c-.54 2.08-2.38 3.48-4.88 3.48-3.06 0-5.08-2.12-5.08-5.34 0-3.2 2.02-5.32 5.06-5.32 2.98 0 5 2.04 5 5.12Zm-5-3.38c-1.46 0-2.66.9-2.82 2.68h5.6c-.12-1.78-1.3-2.68-2.78-2.68Zm46.859 6.8h.98V18h-1.16c-1.38 0-2.2-.32-3-1.24-1.14 1-2.58 1.44-4.1 1.44-2.74 0-4.9-1.42-4.9-3.9 0-1.34.62-2.68 2.82-3.9l.34-.18-.22-.26c-1.16-1.3-1.48-2.22-1.48-3.12 0-1.98 1.58-3.28 3.92-3.28 2.3 0 3.8 1.26 3.8 3.1 0 1.38-.86 2.48-2.14 3.32l-.88.58 2.94 3.26c.5-.88.84-1.96.88-3.32h1.92c0 1.86-.56 3.54-1.48 4.8l.02.02c.5.54.94.76 1.74.76Zm-6.86-10.84c-1.08 0-1.76.66-1.76 1.58 0 .7.42 1.3 1.12 2.1l.34.38.74-.46c.9-.56 1.36-1.32 1.36-2.04 0-.94-.72-1.56-1.8-1.56Zm-3.06 8.92c0 1.5 1.26 2.24 2.74 2.24.94 0 1.98-.3 2.8-.98l-3.5-3.92-.3.18c-1.38.84-1.74 1.66-1.74 2.48ZM87.966 18V3.14h2.18v9.16l4.48-4.56h2.72l-4.38 4.42 4.42 5.84h-2.76l-3.22-4.3-1.2 1.22V18h-2.24ZM98.784 5.84V3.56h2.42v2.28h-2.42Zm.12 12.16V7.76h2.18V18h-2.18Zm10.184-10.44c2.58 0 4.1 1.7 4.1 4.32V18h-2.2v-5.66c0-1.92-.98-2.86-2.48-2.86-1.7 0-2.62 1.2-2.62 3.02V18h-2.18V7.76h1.98l.16 1.38c.58-.98 1.68-1.58 3.24-1.58Zm14.593-4.42h2.2V18h-2l-.18-1.56c-.62 1.04-1.96 1.76-3.54 1.76-2.82 0-4.86-1.96-4.86-5.3 0-3.44 2.14-5.36 4.86-5.36 1.6 0 2.9.68 3.52 1.72V3.14Zm-3.08 13.12c1.72 0 3.04-1.24 3.04-3.36 0-2.1-1.32-3.42-3.04-3.4-1.8 0-3.04 1.32-3.04 3.4 0 2.12 1.26 3.36 3.04 3.36Zm13.253-8.7c2.58 0 4.1 1.7 4.1 4.32V18h-2.2v-5.66c0-1.92-.98-2.86-2.48-2.86-1.7 0-2.62 1.2-2.62 3.02V18h-2.18V7.76h1.98l.16 1.38c.58-.98 1.68-1.58 3.24-1.58Zm16.333 5.1v.82h-7.84c.04 1.92 1.3 2.92 2.9 2.92 1.2 0 2.2-.56 2.62-1.68h2.22c-.54 2.08-2.38 3.48-4.88 3.48-3.06 0-5.08-2.12-5.08-5.34 0-3.2 2.02-5.32 5.06-5.32 2.98 0 5 2.04 5 5.12Zm-5-3.38c-1.46 0-2.66.9-2.82 2.68h5.6c-.12-1.78-1.3-2.68-2.78-2.68Zm6.592 5.62h2.18c.02 1.06 1 1.68 2.34 1.68 1.34 0 2.14-.5 2.14-1.4 0-.78-.4-1.2-1.56-1.38l-2.06-.36c-2-.34-2.78-1.38-2.78-2.84 0-1.84 1.82-3.04 4.14-3.04 2.5 0 4.32 1.2 4.34 3.24h-2.16c-.02-1.04-.92-1.62-2.18-1.62-1.2 0-1.96.5-1.96 1.34 0 .74.52 1.08 1.66 1.28l2.02.36c1.9.34 2.78 1.28 2.78 2.82 0 2.12-1.96 3.22-4.34 3.22-2.7 0-4.52-1.3-4.56-3.3Zm10.215 0h2.18c.02 1.06 1 1.68 2.34 1.68 1.34 0 2.14-.5 2.14-1.4 0-.78-.4-1.2-1.56-1.38l-2.06-.36c-2-.34-2.78-1.38-2.78-2.84 0-1.84 1.82-3.04 4.14-3.04 2.5 0 4.32 1.2 4.34 3.24h-2.16c-.02-1.04-.92-1.62-2.18-1.62-1.2 0-1.96.5-1.96 1.34 0 .74.52 1.08 1.66 1.28l2.02.36c1.9.34 2.78 1.28 2.78 2.82 0 2.12-1.96 3.22-4.34 3.22-2.7 0-4.52-1.3-4.56-3.3Z'/%3E%3C/svg%3E");
		position: absolute;
		opacity: 0.5;
		bottom: 2.5rem;
		height: 1.125rem;
		width: 8.95rem;
		background: currentColor;
	}
}

/** Custom styles for plausible embed */
@media (min-width: 60rem) {
	.k-panel-main:has(iframe[plausible-embed]) {
		max-width: 104rem;
	}
}

.k-header:has(+ iframe[plausible-embed]) {
	display: none;
}

/** No page header for files */
:where([data-template="images"], [data-template="files"], [data-template="videos"]) .k-page-view-header {
	display: none;
}

/* Hide pages in Link field that we don't want to link to */
.k-page-browser
	.k-page-tree
	li:has(
		.k-icon-frame
			> .k-icon:is([data-type="survey"], [data-type="file-video"], [data-type="file-image"], [data-type="file-word"])
	) {
	display: none;
}

.k-file-browser-tree
	ul
	li
	ul
	li:has(.k-icon-frame > .k-icon:not([data-type="file-image"], [data-type="file-video"], [data-type="file-word"])) {
	display: none;
}

/* No padding in Block selector plugin */
.k-block-selector-button-preview {
	padding: 0;
}
