/**
  coralic CSS Reset
  ------------------------------
  Adapted from:
  Josh's Custom CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/
  and Eric Meyer's CSS Reset: http://meyerweb.com/eric/tools/css/reset/
**/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  isolation: isolate;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

a, button {
  cursor: pointer;
}
